- var cloud = _.chain(contents.articles._.directories).map(function(item) {
-   return item.index
- }).compact().filter(function(article) {
-   return article.metadata.ignored !== true
- }).map(function(article) {
-   return article.metadata.tags
- }).flatten().reduce(function(counts, word) {
-   counts[word] = (counts[word] || 0) + 1
-   return counts
- }, {}).value()
- var sortedWord = _.chain(cloud).keys().map(function(item) {
-   return item
- }).sortBy(function(word) {
-   return word.toLowerCase()
- }).value()

#tags.tagcloud
  each word in sortedWord
    = '\r\n'
    - var sizeCount = Math.min(Math.floor(cloud[word] / 1.25), 25)
    a(class="size-#{sizeCount}", href="/tag/#{word}", title="#{word}: #{cloud[word]} posts")
      | #{word}
